{% extends "base.html" %}
{% block body %}
          <h4 class="display-4"><b>TO DO LIST</b></h4>
          <p>
            <a class="btn btn-primary" href="{{url_for('tasks.add')}}">Add task</a>
              <span style="position: relative; margin-left: 4em;"> Click on the task to view more information </span>
          </p>
          <p>
            <table class="table table-striped">
              <thead class="thead-dark">
              <tr>
                <th scope="col"> <a href="/?order_by=id&order={{order}}" style = " font-size:large; text-decoration: none; color:black" 
                  onmouseover="this.style.color='blue';" 
                  onmouseout="this.style.color='black';">Slno</a> </th>
                <th scope="col"> <a href="/?order_by=task&order={{order}}" style = " font-size:large; text-decoration: none; color:black" 
                  onmouseover="this.style.color='blue';" 
                  onmouseout="this.style.color='black';">Task</a>  </th>
                <th scope="col"> <a href="/?order_by=created&order={{order}}" style = " font-size:large; text-decoration: none; color:black" 
                  onmouseover="this.style.color='blue';" 
                  onmouseout="this.style.color='black';">Created</a>  </th>
                <th scope="col"> <a href="/?order_by=due&order={{order}}" style = " font-size:large; text-decoration: none; color:black" 
                  onmouseover="this.style.color='blue';" 
                  onmouseout="this.style.color='black';">Due</a> </th>
                <th scope="col"> <a href="/?order_by=status&order={{order}}" style = " font-size:large; text-decoration: none; color:black" 
                  onmouseover="this.style.color='blue';" 
                  onmouseout="this.style.color='black';">Status</a> </th>
                <th scope="col"> <a href="/?order_by=due&order={{order}}" style = " font-size:large; text-decoration: none; color:black" 
                  onmouseover="this.style.color='blue';" 
                  onmouseout="this.style.color='black';">Overdue</a> </th>
              </tr>
              </thead>
              {% for slno, id, task, created, due, status, overdue in tasks %}
              <tr>              
                <td scope="row" class="taskid" ><a href="{{url_for('tasks.task_info', tid=id, action = status)}}" 
                  style = "text-decoration: none; color:black" 
                  onmouseover="this.style.color='blue';" 
                  onmouseout="this.style.color='black';">{{slno}}</a></td>
                <td class="taskname"><a href="{{url_for('tasks.task_info', tid=id, action = status)}}" 
                  style = "text-decoration: none; color:black" 
                  onmouseover="this.style.color='blue';" 
                  onmouseout="this.style.color='black';">
                  {{task}}</a></td>
                <td class="taskcreated">{{created}}</td>
                <td class="taskdue">{{due}}</td>
                {% if status == "In Progress" %}
                  <td><form action="{{url_for('tasks.task_info', tid=id, action = status)}}" method="POST">
                    <div class="mb-3">
                      <button type="submit" style = "width:11em" class="btn btn-outline-warning btn-sm state">{{status}}</button>
                    </div> 
                  </form></td>
                {%endif%}
                {% if status == "Todo" %}
                  <td><form action="{{url_for('tasks.task_info', tid=id, action = status)}}" method="POST">
                    <div class="mb-3">
                      <button type="submit" style = "width:11em" class="btn btn-outline-secondary btn-sm state">{{status}}</button>
                    </div> 
                  </form></td>
                {%endif%}
                {% if status == "Complete" %}
                  <td><form action="{{url_for('tasks.task_info', tid=id, action = status)}}" method="POST">
                    <div class="mb-3">
                      <button type="submit" style = "width:11em" class="btn btn-outline-success btn-sm state">{{status}}</button>
                    </div> 
                  </form></td>
                {%endif%}
                {% if overdue == 1 %}
                {% if status != "Complete" %}
                <td scope="row" class="taskid" style="text-align: center;"><img src="{{url_for('static', filename='warning1.png')}}" sizes="1em" /></td>
                {%endif%}
                {%endif%}
              </tr>
              {%endfor%}
            </table>
          </p>
{% endblock %}
